@import url(https://fonts.googleapis.com/css?family=Raleway:600);
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Oswald&display=swap');

 body {
	 margin: 0;
     padding: 0;
     background-color: #2c3e50;
	 box-sizing: border-box;
}


.navbar-toggler-icon {
    color: #ff66ff;  
}

.custom-toggler .navbar-toggler-icon { 
	background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 255, 150, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 


.nav-link, .nav-link:hover {
    color: #9e9e9e;
    font-size: 20px;
    font-weight: 700;
}
.navbar-brand, .navbar-brand:hover {
    color: black;
    font-size: 35px;
}

.nav-item {
	align-items: center;
	justify-content: center;
    padding-right: 30px;
}

.etudia {
	color: #B0BEC5;
	position: relative;
	bottom: 100px;
	font-size: 90px;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 15px;
}


.fa-github {
	position: relative;
	bottom: -26px;
	padding-left: 10px;
	font-size: 30px;
	color: black;
}






.welcome {
     width: 100%;
     height: 100vh;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background-color: #2c3e50;
}
 h1 {
	 color: #ffccff;
	 font-family: 'Merriweather', serif;
	 word-spacing: 20px;
	 font-size: 52px;
	 font-weight: 600;
	 text-transform: uppercase;
}
 h1 span {
	 display: inline-block;
	 opacity: 0;
	 transform: translateY(20px) rotate(90deg);
	 transform-origin: left;
	 animation: in 0.5s forwards;
}
 h1 span:nth-child(1) {
	 animation-delay: 0.1s;
}
 h1 span:nth-child(2) {
	 animation-delay: 0.2s;
}
 h1 span:nth-child(3) {
	 animation-delay: 0.3s;
}
 h1 span:nth-child(4) {
	 animation-delay: 0.4s;
}
 h1 span:nth-child(5) {
	 animation-delay: 0.5s;
}
 h1 span:nth-child(6) {
	 animation-delay: 0.6s;
}
 h1 span:nth-child(7) {
	 animation-delay: 0.7s;
}
 @keyframes in {
	 0% {
		 opacity: 0;
		 transform: translateY(50px) rotate(90deg);
	}
	 100% {
		 opacity: 1;
		 transform: translateY(0) rotate(0);
	}
}
 

.footer {
    background-color: none;
}

.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{
    color: #1aff1a;
     text-decoration: none;}

.emoji{vertical-align: middle;}



@media only screen and (max-width: 600px) {
    .etudia {
		padding-left: 60px;
		bottom: 80px;
		font-size: 40px;
		letter-spacing: 15px;
	}
	h1 {
		padding-left: 20px;
		word-spacing: 12px;
		font-size: 42px;
		font-weight: 500;
	
   }

  }

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) {
	.etudia {
		position: relative;
		bottom: 200px;
		font-size: 100px;
	}
	h1 {
		color: #ffccff;

		word-spacing: 20px;

   }
      
}


