
body{
    margin: 20px;
    background-color: lemonchiffon;
}

.custom-toggler .navbar-toggler-icon { 
	background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 




.nav-link, .nav-link:hover {
    color: black;
    font-size: 30px;
    font-weight: 700;
}
.navbar-brand, .navbar-brand:hover {
    color: black;
}

.nav-item {
    padding-right: 30px;
}

.decks {
    padding-top: 50px;
    
}

.card-deck {
    padding-top: 30px;
}


.card-body{
    background-color: khaki;
}


.card-title {
    justify-content: center;
    text-align: center;
    font-size: 25px;
}

.card-text {
    justify-content: center;
    text-align: center;
    font-size: 17px;
}

a, a:hover {
    
    color: black;
    text-decoration: none;
}



.footer {
    bottom: 10px;
    padding-top: 20px;
}

.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{
    color: #453886;
     text-decoration: none;}

.emoji{vertical-align: middle;}


@media only screen and (max-width: 600px) {
    .nav-link, .nav-link:hover {
        color: black;
        font-size: 23px;
        font-weight: 500;
    }

  }

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) {
    
    .nav-link, .nav-link:hover {
        color: black;
        font-size: 23px;
        font-weight: 500;
    }

    
      
}