@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


.notes {
    padding: 110px;
    padding-left: 300px;
    padding-right: 300px;
}

body {
    background-color: gray;
}


.navbar-toggler-icon {
    background-color: gainsboro;
    border-radius: 100%;
}



.nav-link, .nav-link:hover {
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.navbar-brand, .navbar-brand:hover {
    color: black;
    font-size: 35px;
}

.nav-item {
    padding-right: 30px;
}



ul {
    list-style-type: none;
  }

li {
    padding-top: 10px;
}


.link, .link:hover {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    
}

.btn-link, .btn-link:hover, .btn-link:visited, .btn-link:active {
    font-size: 20px;
    color: darkcyan;
    text-decoration: none;
}

.card-header {
    background-color: black;
}

.card-body {
    background-color: darkcyan;
}

.buttons {
    padding-top: 40px;
    padding-left: 50px;
    align-items: center;
    display: inline-block;
    justify-content: center;
}


.btn1  {
    padding: 1em 2.1em 1.1em;
    border-radius: 100%;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}

.btn1:hover {
    color: blanchedalmond;
    text-decoration: none;
}

.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn.block {
    display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}






@media only screen and (max-width: 600px) {
    .notes {
        padding: 20px;
    }

    .btn-link, .btn-link:hover,.btn-link:visited {
        font-size: 18px;
        text-decoration: none;
    }

  }

  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
 { 
    .notes {
        padding: 90px;
    }

    .btn-link, .btn-link:hover,.btn-link:visited {
        font-size: 18px;
        text-decoration: none;
    }
      
}


  .footer {
    background-color: gray;
}

.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{
    color: #453886;
     text-decoration: none;}

.emoji{vertical-align: middle;}