
body {
    background-color: #99ff99;
}



.nav-link, .nav-link:hover {
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.navbar-brand, .navbar-brand:hover {
    color: black;
    font-size: 35px;
}

.nav-item {
    padding-right: 30px;
}

.custom-toggler .navbar-toggler-icon { 
	background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 


.bottom-text, a:hover {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-top: 6px;
}

.img-thumbnail {
    height: 200px;
    width: 300px;
}




.footer {
    background-color: #99ff99;
}

.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{
    color: #453886;
     text-decoration: none;}

.emoji{vertical-align: middle;}




@media only screen and (max-width: 600px) {
    .img-thumbnail {
        height: 130px;
        width: 300px;
    }
  }