
body {
    background-color: #99ff99;
}



.nav-link, .nav-link:hover {
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.navbar-brand, .navbar-brand:hover {
    color: black;
    font-size: 35px;
}

.nav-item {
    padding-right: 30px;
}

.navbar-toggler-icon {
    background-color: #00cc00;
    border-radius: 100%;
}

.bottom-text, a:hover {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-top: 6px;
}

.img-thumbnail {
    height: 200px;
    width: 300px;
}




.footer {
    background-color: #99ff99;
}

.footer-heart{text-align:center;font-family: open sans, sans-serif;}

.footer-heart a{
    color: #453886;
     text-decoration: none;}

.emoji{vertical-align: middle;}




@media only screen and (max-width: 600px) {
    .img-thumbnail {
        height: 130px;
        width: 300px;
    }
  }